
{% load static %}
<!DOCTYPE html>
<html>
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/png" href="https://storage.googleapis.com/bytewalk/icon.png"/>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">
    <link rel="stylesheet" type="text/css" href="https://storage.googleapis.com/bytewalk/profilepage.css">
    <link rel="stylesheet" type="text/css" href="https://storage.googleapis.com/bytewalk/styles.css">
	<link rel="stylesheet" type="text/css" href="{% static 'styles/main.css ' %}">
    {% block cssfiles %}{% endblock cssfiles %}
    <title>QuickPost</title>
</head>

<body style="background-image: url('/media/background.jpeg');">
	{% block navbar %}
			{% include 'feed/navbar.html' %}
			{% endblock navbar %}
	<div class="container">
	{% block content %}{% endblock content %}
	</div>

	<!-- <footer class="page-footer font-small black">
	  <div class="footer-copyright text-center py-3">ByteWalk © 2020
	  <br><small class="text-muted">All rights reserved!</small>
	</div>
	</footer> -->

	<!-- JS Files -->
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    {% block jsfiles %}{% endblock jsfiles %}
</body>
</html>