<div class="col-md-4">
    <div class="card card-signin my-5">
      <a href="{{ request.user.profile.get_absolute_url }}"
        ><img
          class="card-img-top"
          src="{{ request.user.profile.image.url }}"
          alt=""
      /></a>
      <div class="card-body">
        <h5 class="card-title text-center">{{ request.user }}</h5>
        <h6 class="text-center">
          {{ request.user.profile.friends.count }}
          <p class="text-muted">Friends</p>
        </h6>
        <p class="card-text text-center">{{ request.user.profile.bio }}</p>
      </div>
    </div>
  </div>