    <div class="card card-signin my-5">
      <div class="card-body">
        <h2>Friend Requests Recieved ({{ rec_friend_requests.count }})</h2>
        <hr class="my-2" />
        {% if not rec_friend_requests %}
        <h5><i>No recieved requests!</i></h5>
        {% else %} {% for r_request in rec_friend_requests %}
        <a href="{{ r_request.from_user.profile.get_absolute_url }}"
          ><img
            src="{{ r_request.from_user.profile.image.url }}"
            class="rounded mr-2"
            width="40"
            height="40"
            alt=""
        /></a>
        <a
          class="mr-2 align-middle"
          href="{{ r_request.from_user.profile.get_absolute_url }}"
          ><b>{{ r_request.from_user.username }}</b>
        </a>
        <small class="float-right">
          <a
            class="btn btn-success mr-2"
            href="/users/friend-request/accept/{{ r_request.from_user.id }}"
            >Accept</a
          >
          <a
            class="btn btn-danger"
            href="/users/friend-request/delete/{{ r_request.from_user.id }}"
            >Reject</a
          >
        </small>
        <br /><br />
        {% endfor %} {% endif %}
      </div>
    </div>
  